.questions-block {
    margin-top: 150px;
}

.consultation-title {
    font-family: 'Gilroy-SemiBold';
    font-size: 40px;
    padding-bottom: 32px;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
}

.consultation-text {
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    width: 71%;
}

.contact-form {
    display: block;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 80px;
}

.form-input {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: unset;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    padding: 25px 15px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-size: 25px;
    color: white;
}

.message {
    height: 400px;
    resize: none;
}

.ps-title {
    font-family: 'Gilroy-Regular';
    font-size: 25px;
    color: #B6B6B6;
}

.ps-text {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    width: 75%;
    color: #B6B6B6;
}

.file-input-wrapper {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}

.file-input {
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-input-label {
    display: inline-block;
    width: 60%;
    font-family: 'Gilroy-Regular';
    padding: 25px 15px;
    background-color: transparent;
    background-image: url('../../../public/Pictures/papersclip.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    border-radius: 10px;
    font-size: 25px;
    text-align: left;
    padding-left: 90px;
    cursor: pointer;
    color: white;
}

.file-input-label::before {
    font-size: 25px;
}

.selected-files {
    margin-top: 10px;
    font-family: 'Gilroy-Regular';
}

.file-name {
    font-size: 20px;
    color: #969696;
    margin-top: 5px;
}

.submit-button{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
}
.submit-button > p{
    color: black;
    font-family: 'Gilroy-SemiBold';
    font-weight: 900;
}
.error-message {
    color: #d20303;
    font-size: 20px;
    font-family: 'Gilroy-Regular';
    margin-top: 20px;
}
.personal-data{
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    margin-top: 6px;
}
.connection {
    display: flex;
    justify-content: space-between;
}
.connection-tg{
    background-image: url('../../../public/Pictures/tg-icon.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font-family: 'Gilroy-SemiBold';
    border: 2px solid white;
    padding: 26px 75px 26px 16px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}
.connection-phone{
    cursor: pointer;
}
.phone{
    font-size: 30px;
    font-family: 'Gilroy-SemiBold';
    text-align: center;
}
.callback{
    font-size: 24px;
    font-family: 'Gilroy-Regular';
    margin-top: 5px;
    border-bottom: 2px dashed #5CC3FD;
}