.advantages-block {
    margin-top: 150px;
}

.advantage {
    margin-bottom: 75px;
}

.adv-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
}

.adv-name {
    font-family: Gilroy-SemiBold;
    font-size: 32px;
    color: #5CC3FD;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
}

.adv-btn {
    width: 56px;
    height: 56px;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv-text {
    font-size: 26px;
    font-family: Gilroy-Regular;
    color: white;
    width: 84%;
    margin-top: 48px;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Плавная анимация высоты */
    max-height: 0; /* Скрыт по умолчанию */
    margin-bottom: 0;
}
