.corp-name{
    font-family: 'Tactic Sans Extended';
    font-size: 110px;
    text-align: center;
}
.company {
    font-family: 'Tactic Sans Extended';
    font-size: 96px;
    text-align: center;
    margin-bottom: 10px;
}
.title{
    margin-top: 150px;
}
.title-first-text{
    font-family: 'Tactic Sans Extended';
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 45px;
}
.title-second-text{
    font-family: 'Gilroy-SemiBold';
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.title-order {
    cursor: pointer;
    font-family: 'Gilroy-SemiBold';
    font-size: 30px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, #5CC3FD, #364CA6);
    background-size: 110% 60%;
    transition: background-position 1s ease;
}

.title-order:hover, .title-order:focus{
    background-position: -1000% 0;
}
