.partners {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    margin-top: 20px;
}
.logo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
}

